
.header {

  .buttonContainer {
    margin-right: 8%;

    button {
      border: none;
      color: whitesmoke;
      outline: none;
      display: none;
      cursor: pointer;
      font-size: 50px;
      font-weight: 300;
      background-repeat:no-repeat;
      background-color: Transparent;
    }

  }

}

@media screen and (max-width: 425px) {

  .buttonContainer {
    margin-right: 2.5%;
  }

}

